<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Página Principal - TecBlog</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
    <body>
      <div id="banner">

          <div id="logo">
            <h1>Tec<span class="branco">Blog</span></h1>

          </div>

            <div id="menu">
              <a href="index.html"> Home</a>
              <a href="jogos.html"> Jogos</a>
              <a href="celulares.html"> Celulares</a>
              <a href="informatica.html"> Informática</a>
              <a href="eletronicos.html"> Eletrônicos</a>

            </div>
      </div>

        <div id="area-principal">

              <div id="area-postagens">

                <!-- abertura postagem -->
                <div class="postagem">
                  <h2>A nova era de computadores no Brasil</h2>
                    <div class="data-postagem"> postado em 08 de abril, 2006. </div>
                  <img width="620px" src="static/imagens/imagem1.jpg">
                  <p>
                    A tecnologia avança a passos largos, transformando a forma como vivemos e interagimos.
                    Com a inteligência artificial, a realidade virtual e a Internet das Coisas (IoT), estamos cada vez mais
                    conectados e capacitados a acessar informações e serviços de maneira rápida e eficiente.
                  </p>
                  <a href="">Leia mais</a>

                </div> <!--// fechamento postagem -->

                <div class="postagem">
                  <h2>Sistema operacional MacOS - Apple</h2>
                    <div class="data-postagem"> postado em 21 de junho, 2006. </div>
                  <img width="620px" src="static/imagens/imagem2.jpg">
                  <p>
                    O MacOS é um sistema operacional desenvolvido pela Apple, projetado exclusivamente para
                    computadores Mac. Conhecido por sua interface intuitiva e elegante,
                    o MacOS oferece uma experiência de usuário única e segura.
                  </p>
                  <a href="">Leia mais</a>
                </div>

                </div> <!--// fechamento postagem -->




              <div id="area-lateral">

                <div class="conteudo-lateral">


                    <h3 style="background: #CCCCCC">Postagens recentes</h3>
                      <div class="postagem-lateral">
                        <p>
                          Apple lança nova linha de produtos com inovações tecnológicas
                        </p>

                        <a href=""> Leia mais </a>

<hr>

                         <p>
                          Apple enfrenta críticas após relatos de celulares explodindo
                        </p>
                        <a href=""> Leia mais </a>
                      </div>

                </div>

                <div class="conteudo-lateral2">


                    <h3 style="background: #CCCCCC">Categorias</h3>
                      <div class="postagem-lateral" style="font-size: 1em">
                        <a href="index.html"> Home</a> <br>
                        <a href="jogos.html"> Jogos</a> <br>
                        <a href="celulares.html"> Celulares</a> <br>
                        <a href="informatica.html"> Informática</a> <br>
                        <a href="eletronicos.html"> Eletrônicos</a>
                      </div>

                </div>
              </div>


              <div id="rodape">
                Todos os direitos reservados
              </div>

              </div>

    </body>
</html>
